body {
background-color: #DE9CA0;
}
nav, p {
margin-left: 530px;
}
a, p {
text-decoration: none;
font-size: 50px;
font-family: cursive;
cursor: pointer;
padding: 1px;
color: black;
}
h1 {
font-size: 2.5rem;
color: ghostwhite;
text-align: center;
background-color: #DE525A;
padding: 50px;
box-shadow: 0 0 10px ghostwhite;
}
div {
max-width: 350px;
margin: 100px auto; 
padding: 150px; 
background: #DE525A;
border-radius: 7px; 
box-shadow: 0 0 10px ghostwhite;
}
h3 {
font-size: 1.0rem;
color: ghostwhite;
text-align: center;
background-color: #DE9CA0;
padding: 10px;
}
button {
color: ghostwhite;
background-color: #DE9CA0;
border: none;
padding: 5px;
border-radius: 5px;
cursor: pointer;
}
input {
width: 100%;
padding: 8px;
margin-bottom: 10px;
border: 2px solid 
border-radius: 5px;
}
